




.card{
  position: absolute;
  top: 15%;
  left: 50%;
  width: 70%;
  height: 10%;
  border-radius: 20px;
  border: 0px solid;
  margin: 0 auto;
  padding: 0 auto;
  background: rgba(102, 101, 101, 0.2);
  transform: translate(-50%,-50%);
}


#question{
  white-space: nowrap;
  position: absolute;
  top: 50%;
  left: 50%;
  font-weight: 800;
  font-size: 150%;
  transform: translate(-50%, -50%);

}


.judge-image {
  display: none;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}


.container{
  top: 50%;
  left: 40%;
  transform: translate(-50%, -50%);
  position: absolute;

}
.image{
  width: 100%;
  height: 30%;
  left: 30%;
}


.name{
  top: 50%;
  left: 170%;
  width: 50%;
  transform: translate(-50%, -50%);
  position: absolute;
}


#time{
  position: absolute;
  top: 5%;
  left: 60%;
  transform: translate(-50%, -50%);
  font-size: 170%;
}


#correct-count{
  position: absolute;
  top: 5%;
  left: 40%;
  transform: translate(-50%, -50%);
  font-size: 170%;
}





button.button-80 {
  position: absolute;
  max-width: 30%;
  max-height: 20%;
  left: 20%;
  width: 30%; 
  padding: 7%; 
  /* margin-top: 2%; */
  margin-right: 1%;
  background: #fff;
  backface-visibility: hidden;
  border-radius: .375rem;
  border-style: solid;
  border-width: .125rem;
  box-sizing: border-box;
  color: #212121;
  cursor: pointer;
  display: inline-block;
  font-family: Circular,Helvetica,sans-serif;
  font-size: 1.125rem;
  font-weight: 700;
  letter-spacing: -.01em;
  line-height: 1.3;
  text-align: left;
  text-decoration: none;
  transform: translateZ(0) scale(1);
  transition: transform .2s;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}



button.button-80:nth-child(1){
  left: 15%;
  top: 25%;
}

button.button-80:nth-child(2){
  left: 55%;
  top: 25%;
}

button.button-80:nth-child(3){
  left: 15%;
  top: 55%;
}

button.button-80:nth-child(4){
  left: 55%;
  top: 55%;
}



.button-80:not(:disabled):hover {
  transform: scale(1.05);
}

.button-80:not(:disabled):hover:active {
  transform: scale(1.05) translateY(.125rem);
}

.button-80:focus {
  outline: 0 solid transparent;
}

.button-80:focus:before {
  content: "";
  left: calc(-1*.375rem);
  pointer-events: none;
  position: absolute;
  top: calc(-1*.375rem);
  transition: border-radius;
  user-select: none;
}

.button-80:focus:not(:focus-visible) {
  outline: 0 solid transparent;
}

.button-80:focus:not(:focus-visible):before {
  border-width: 0;
}

.button-80:not(:disabled):active {
  transform: translateY(.125rem);
}


.comment div{
    position: absolute;
    white-space: nowrap;
    font-size: 24px;
    line-height: 1;
    z-index: 2;
    color: #fff;
    animation-timing-function: linear;
    animation-duration: 25s;
    animation-fill-mode: forwards;
}

.comment div:nth-child(1){
  animation-name: lane0;
  top: 150px;
  text-shadow: -1px -1px #000, 1px -1px #000,	-1px 1px #000, 1px 1px #000;
}

.comment div:nth-child(2){
  animation-name: lane1;
  top: 250px;
  text-shadow: -1px -1px rgb(255, 28, 28), 1px -1px rgb(255, 28, 28),	-1px 1px rgb(255, 28, 28), 1px 1px rgb(255, 28, 28);
}

.comment div:nth-child(3){
  animation-name: lane2;
  top: 350px;
  text-shadow: -1px -1px #000, 1px -1px #000,	-1px 1px #000, 1px 1px #000;
}

.comment div:nth-child(4){
  animation-name: lane3;
  top: 450px;
  text-shadow: -1px -1px rgb(70, 255, 28), 1px -1px rgb(70, 255, 28),	-1px 1px rgb(70, 255, 28), 1px 1px rgb(70, 255, 28);
}

.comment div:nth-child(5){
  animation-name: lane4;
  top: 550px;
  text-shadow: -1px -1px rgb(255, 28, 28), 1px -1px rgb(255, 28, 28),	-1px 1px rgb(255, 28, 28), 1px 1px rgb(255, 28, 28);
}

.comment div:nth-child(6){
  animation-name: lane5;
  top: 650px;
  text-shadow: -1px -1px rgb(1, 17, 240), 1px -1px rgb(1, 17, 240),	-1px 1px rgb(1, 17, 240), 1px 1px rgb(1, 17, 240);
}

.comment div:nth-child(7){
  animation-name: lane6;
  top: 750px;
  text-shadow: -1px -1px rgb(255, 157, 0), 1px -1px rgb(255, 157, 0),	-1px 1px rgb(255, 157, 0), 1px 1px rgb(255, 157, 0);
}

.comment div:nth-child(8){
  animation-name: lane7;
  top: 850px;
  text-shadow: -1px -1px rgb(214, 1, 251), 1px -1px rgb(214, 1, 251),	-1px 1px rgb(214, 1, 251), 1px 1px rgb(214, 1, 251);
}
.comment div:nth-child(9){
  animation-name: lane8;
  top: 950px;
  text-shadow: -1px -1px rgb(70, 255, 28), 1px -1px rgb(70, 255, 28),	-1px 1px rgb(70, 255, 28), 1px 1px rgb(70, 255, 28);
}

.comment div:nth-child(10){
  animation-name: lane9;
  top: 1050px;
  text-shadow: -1px -1px rgb(1, 17, 240), 1px -1px rgb(1, 17, 240),	-1px 1px rgb(1, 17, 240), 1px 1px rgb(1, 17, 240);
}

#result-score{
  font-size: 450%;
  position: absolute;
  top: 10%;
  left: 50%;
  transform: translate(-50%, -50%);

}

#result-rank{
  font-size: 450%;
  position: absolute;
  top: 25%;
  left: 50%;
  transform: translate(-50%, -50%);
}

#result-num{
  font-size: 250%;
  position: absolute;
  top: 40%;
  left: 40%;
  transform: translate(-50%, -50%);
}

#result-time{
  font-size: 250%;
  position: absolute;
  top: 40%;
  left: 60%;
  transform: translate(-50%, -50%);

}

#S{
  color: blueviolet;
  font-size: 200%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}


#A{
  color: red;
  font-size: 200%;
  position: absolute;
  top: 55%;
  left: 50%;
  transform: translate(-50%, -50%);
}

#B{
  color: orange;
  font-size: 200%;
  position: absolute;
  top: 60%;
  left: 50%;
  transform: translate(-50%, -50%);
}

#C{
  color: greenyellow;
  font-size: 200%;
  position: absolute;
  top: 65%;
  left: 50%;
  transform: translate(-50%, -50%);
}

#D{
  color: cyan;
  font-size: 200%;
  position: absolute;
  top: 70%;
  left: 50%;
  transform: translate(-50%, -50%);
}


#start-bnt{
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}


#end-bnt{
  top: 85%;
  left: 50%;
  transform: translate(-50%, -50%);
}

/* 

@keyframes lane0 {
from{ transform: translate(2000px, 0); }
to{ transform: translate(-8000px, 0); }
}


@keyframes lane1 {
  from{ transform: translate(2000px, 100px); }
  to{ transform: translate(-8000px, 100px); }
}

@keyframes lane2 {
  from{ transform: translate(2000px, 200px); }
  to{ transform: translate(-8000px, 200px); }
}

@keyframes lane3 {
  from{ transform: translate(2000px, 300px); }
  to{ transform: translate(-8000px, 300px); }
}


@keyframes lane4 {
  from{ transform: translate(2000px, 400px); }
  to{ transform: translate(-8000px, 400px); }
}

@keyframes lane5 {
  from{ transform: translate(2000px, 500px); }
  to{ transform: translate(-8000px, 500px); }
}


@keyframes lane6 {
  from{ transform: translate(2000px, 600px); }
  to{ transform: translate(-8000px, 600px); }
}


@keyframes lane7 {
  from{ transform: translate(2000px, 700px); }
  to{ transform: translate(-8000px, 700px); }
}


@keyframes lane8 {
  from{ transform: translate(2000px, 800px); }
  to{ transform: translate(-8000px, 800px); }
}

@keyframes lane9 {
  from{ transform: translate(2000px, 900px); }
  to{ transform: translate(-8000px, 900px); }
}

@keyframes lane10 {
  from{ transform: translate(2000px, 1000px); }
  to{ transform: translate(-8000px, 1000px); }
}*/
