<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{{ url_for('static', path='/style.css') }}">
</head>
<body>
    <div class="card">
        <div id="question">このレビューはどの商品のレビューでしょうか？</div>
    </div>
    <div class="comment">
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
    </div>
    <div>
        <button class="button-80">
            <span class = "container">
                <img class="image" src="https://image.rakuten.co.jp/smahoservice/cabinet/i/i302108.jpg">
                <span class="name">
                    
                </span>
            </span>
        </button>
        <button class="button-80">
            <span class = "container">
                <img class="image" src="https://image.rakuten.co.jp/smahoservice/cabinet/i/i302108.jpg">
                <span class="name">
                    
                </span>
            </span>
        </button>
        <button class="button-80">
            <span class = "container">
                <img class="image" src="https://image.rakuten.co.jp/smahoservice/cabinet/i/i302108.jpg">
                <span class="name">
                    
                </span>
            </span>
        </button>
        <button class="button-80">
            <span class = "container">
                <img class="image" src="https://image.rakuten.co.jp/smahoservice/cabinet/i/i302108.jpg">
                <span class="name">
                    
                </span>
            </span>
        </button>
    </div>
    <div class="judge-image" id="correct">
        <img src="{{ url_for('static', path='correct.png') }}">
    </div>
    <div class="judge-image" id="incorrect">
        <img src="{{ url_for('static', path='incorrect.png') }}">
    </div>
    <script src="{{ url_for('static', path='/game.js') }}"></script>
    
    
</body>
</html>